.vanilla{
    background-color: #06629B;
    color: yellow;
}

.bc{
    background-color: #546E39;
    color: yellow;
}

.wotlk{
    background-color: #388BC8;
    color: white;
}

.cata{
    background-color: #F0AA0B;
    color: black;
}

.mop{
    background-color: #039675;
    color: gold;
}

.wod{
    background-color: #683B0E;
    color: #FEFBBD;
}

.legion{
    background-color: #35373C;
    color: #B9CB49;
}

.bfa{
    background-color: #03395F;
    color: #E4DDD1;
}

ng-container{
    text-align: center;
    padding: 50px;
}
