th.mat-header-cell{
    text-align: center;
}

td.mat-cell{
    padding: 8px;
}

table, .tab-pres{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.vanilla{
    background-color: #06629B;
    color: yellow;
}

.bc{
    background-color: #546E39;
    color: yellow;
}

.wotlk{
    background-color: #388BC8;
    color: white;
}

.cata{
    background-color: #F0AA0B;
    color: black;
}

.mop{
    background-color: #039675;
    color: yellow;
}

.wod{
    background-color: #683B0E;
    color: #FEFBBD;
}

.legion{
    background-color: #35373C;
    color: #B9CB49;
}

.bfa{
    background-color: #03395F;
    color: #E4DDD1;
}

.fero{
    background-color: #a40000;
    color: white;
}

.ruse{
    background-color: #159908;
    color: white;
}

.tena{
    background-color: #1070ff;
    color: white;
}

.exo{
    background-color: #bd9f00;
    color: white;
}